body {
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}
main {
  position:relative;
  width:35vmin;
  height:75vmin;
  border-radius: 50vmin;
  background:#D0DFDF;
  overflow:hidden;
  -webkit-box-shadow: 0px 34px 159px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 34px 159px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 34px 159px -10px rgba(0,0,0,0.75);
  z-index:1;
}
#sky {
  height:25vmin;
  background:rgb(155,198,204);
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#sky .sun {
  position:absolute;
  z-index:6;
  height:17vmin;
  width:15vmin;
  border-radius:100%;
  background:#fff;
  margin-top:11vmin;
}
#sky .sunset {
  position:relative;
  z-index:5;
  height:19vmin;
  width:18vmin;
  border-radius:100%;
  background:rgb(220,236,230);
  margin-top:16vmin;
}
#sky .sunset_1 {
  height:28vmin;
  width:26vmin;
  border-radius:100%;
  background:rgb(188,220,215);
  margin-top:8vmin;
  content:"";
  position:absolute;
  z-index:4;
}

#water {
  display:flex;
  justify-content:center;
  margin-bottom:2vmin;
  position: absolute;
  height:70vmin;
  width:100vmin;
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 5%, rgba(49,126,143,1) 98%, rgba(113,206,239,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(5%, rgba(183,222,237,1)), color-stop(98%, rgba(49,126,143,1)), color-stop(100%, rgba(113,206,239,1)));
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 5%, rgba(49,126,143,1) 98%, rgba(113,206,239,1) 100%);
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 5%, rgba(49,126,143,1) 98%, rgba(113,206,239,1) 100%);
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 5%, rgba(49,126,143,1) 98%, rgba(113,206,239,1) 100%);
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 5%, rgba(49,126,143,1) 98%, rgba(113,206,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#71ceef', GradientType=0 );
  z-index:6;
  animation:waves 1.5s ease-in-out alternate infinite;
}
#water .top {
  position:absolute;
  height:2vmin;
  width:100%;
  background:rgb(231,253,246);
  z-index:7;
}
#water #rays {
  position:relative;
  margin-right:40vmin;
  top:1vmin;
  height:35vmin;
  width:5vmin;
  transform:rotate(20deg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
  z-index:5;
  animation:fadeInOut 4s ease-in-out alternate infinite;
}
#rays .ray1 {
  position:absolute;
  right:20vmin;
  top:5.5vmin;
  height:25vmin;
  width:3vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
  z-index:-1;
  animation:fadeInOut 3.2s ease-in-out alternate infinite;
}

#rays .ray2 {
  position:absolute;
  right:20vmin;
  top:7vmin;
  height:20vmin;
  width:5vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
  z-index:-1;
  animation:fadeInOut 3s ease-in-out alternate infinite;
}
#rays .ray3 {
  position:absolute;
  right:2vmin;
  top:.5vmin;
  height:25vmin;
  width:5vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
  z-index:-1;
  animation:fadeInOut 3.7s ease-in-out alternate infinite;
}

.bubl {
  position:absolute;
  top:80vmin;
  left:10vmin;
  height:1vmin;
  width:1vmin;
  border-radius:100%;
  border: 2px solid #6897bb;
  z-index:10;
  animation:floatUp 4s ease-in-out infinite;
}
.buble::after {
  content:"";
  position:relative;
  top:80vmin;
  left:15vmin;
  height:1vmin;
  width:1vmin;
  border-radius:100%;
  border: 2px solid #6897bb;
  z-index:10;
  animation:floatUp 4s ease-in-out infinite;
}


@keyframes floatUp {
  100% {
    transform:translateY(-40vmin);
    opacity:.5;
  }
}

@keyframes waves {
  0% {
    transform:translateY(-6vmin);
  }
  100% {
    transform:translateY(-4vmin);
  }
}

@keyframes fadeInOut {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}