body {
  padding-top: 5rem;
  background-color: inherit
}

html {
  
  background:  url("../background/background3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  overflow: hidden;
}

.rowGrid{
  padding-top:15px;
  margin-bottom:15px;
}
/* stopwatch */
#stopWatch{
  display: inline-block;
}

/* media icons */
.glyphicon{
  float:right;
  padding-left:30px;
  font-size: 20px;
}
.videoIcon{
  float: left;
  padding-right:10px;
  font-size:20px;
}

/* blinks */
#blinkingStream {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: .25;
  display: inline-block;
  background-color: red;
}
#blinkingRecord {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: .25;
  display: inline-block;
  background-color: red;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
/* modals */
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
/* charts */
.humidityCharts{
  width:136px;
}
.alignTempChart{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  */

p {
    font-family: "Arial Verdana", Arial, Sans-serif;
}


/* info */
.cursorQ{
  cursor:pointer;
}

.mainfooter{
  /* position: fixed; */
  height: 40px;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
}






