/* body {
  
} */

body {
  padding-top: 5rem;
  background:  url("../background/background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}

#stopWatch{
  display: inline-block;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

#blinkingStream {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: .25;
  display: inline-block;
  background-color: red;
}
.humidityCharts{
  width:136px;
}
.alignTempChart{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#blinkingRecord {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: .25;
  display: inline-block;
  background-color: red;
}
/* -------------- */
.alerts{
  position: fixed !important;
  z-index: 2;
  right: 1px;
}
div.textbook{
  margin-top:100px;
}
div.mainpage{
  margin-top:100px;
}
code{
  width:550px;
}

p {
    font-family: "Arial Verdana", Arial, Sans-serif;
}

canvas {
  float:right;
}

.glyphicon{
  float:right;
  padding-left:30px;
  font-size: 20px;
}
.videoIcon{
  float: left;
  padding-right:10px;
  font-size:20px;
}
.cursorQ{
  cursor:pointer;
}
/* .list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
} */

.mainfooter{
  position: absolute;
  height: 60px;
  bottom: 0px;
  width: 100%;
  background-color: #f5f5f5;
}

.contentfooter{
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}
h1{
  text-align: center;
}

h2{
  color:#1E1E83;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: black;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: gray;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
