.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
  }
  span {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}