  .tempText {
    position: absolute;
    top:55%;
    left:30%;
    z-index: 3;

  }
  .content {
    display: flex;
  }
  
  .mask {
    position: relative;
    overflow: hidden;
    display: block;
    width: 8.5rem;
    height: 4.25rem;
    margin-top:15px;
    margin-bottom:15px;
  }
  
  .semi-circle {
    position: relative;
    display: block;
    width: 8.5rem;  
    height: 4.25rem;
    background: linear-gradient(to right,#1abc9c  0%, #f1c40f 50%, #c0392b 100%);
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  }
  .semi-circle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 5.1rem;
    height: 2.55rem;
    margin-left: -2.55rem;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  }
  
  .semi-circle--mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 8.5rem;
    height: 8.5rem;
    background: transparent;
    transform: rotate(180deg) translate3d(0, 0, 0);
    transform-origin: center center;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .semi-circle--mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    width: 8.585rem;
    height: 4.335rem;
    margin: -1px 0 0 -1px;
    background: #f2f2f2;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
  }
  
 
  

  