<!doctype html>
<html>
   <head>
      <title>Мурашина ферма</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=${WIDTH}, initial-scale=1"/>
      <link rel="stylesheet" type="text/css" href="static/css/waterLevel.css">
      <link rel="stylesheet" type="text/css" href="static/css/main.css">
      <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="static/css/humiditySensor.css">
	<!-- <style type="text/css">
		body {
			background: ${BGCOLOR};
			text-align: center;
			margin-top: 10%;
		}
		#videoCanvas {
			/* Always stretch the canvas to 640x480, regardless of its
			internal size. */
			width: ${WIDTH}px;
			height: ${HEIGHT}px;
		}
	</style> -->

   </head>
   <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo1.png" width="100" height="30" alt="">
        </a>
        <div class="pos-f-t">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="main.html">Глава 22
             </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="avtor.html">Автор</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
<!-- <div class="jumbotron"> -->
<div class="container">

<!-- <div id="wrapper">

    <div class="mainpage"> -->
    <div class="row">
      <div class="col-5">
    <div class="gauge-chart">
    	<svg viewBox="0 0 80 40" class="gauge">
    		<circle  class="donut-ring" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#d2d3d4" stroke-width="15"></circle>
    		<circle id = "humidityCircle" class="donut-segment" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#b3ffab" stroke-width="15" stroke-dasharray="80 135" stroke-dashoffset="-100">
    			<animate id="humAnimation" attributeType='XML' attributeName='stroke-dasharray' values= "${animationValues}" keyTimes='0; 0.4; 0.6; 0.7; 1' dur='2.5s' repeatCount='1'>
    		</circle>

    		<text id="sotHum" x="25" y="39.5" >65</text>
    	</svg>
    	<p>super gauge chart 2</p>
    </div>
    </div>
    <div class="col-1">

      <img id="badge" width="640" height="480" />
    </div>
    </div>

   <div class="row">
    <div class="col-md-4">
      <!-- <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                  <a href="main.html">Глава 22</a>
              </li>
              <li>
                  <a href="avtor.html">Автор</a>
              </li>
          </ul>
      </div>
    </div> -->
    <!-- Default switch --> -->
    <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
    </label>

    <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
    </label>
  </div>





       <!-- <img src="stream.mjpg" width="640" height="480" /> -->
       <div class="col-md-4">
     <div id="TextBlock">
 	<p >2</p>
 	</div>
     <input type="button" >Click</input>
     <form name=test_form>
 sqr(
 <input type="text" name="test_text" value="0" size="4">
 ) =
 <span id="test_result">0</span>
 <input type=button onClick="StartPreview();" value="startPreview" title="Почати перегляд">
 <input type=button onClick="StopPreview();" value="stopPreview" title="Зупинити перегляд">
 <input type=button onClick="StartStream();" value="Почати трансляцію" title="Почати трансляцію">
 <input type=button onClick="StopStream();" value="stopStream" title="Зупинити трансляцію">

 </form>
</div>
<!-- second row -->
<div class = "col-md-4">
 <main>
   <div id="sky">
     <div class="sun"></div>
     <div class="sunset"></div>
     <div class="sunset_1"></div>
   </div>
   <div id="water">
     <div id="topWater" class="top"></div>
     <div id="rays">
       <div class="ray1"></div>
       <div class="ray2"></div>
       <div class="ray3"></div>
     </div>
   </div>
   <div class="bubl"></div>
 </main>
</div>

<div class="row">
  <div class="col">
    <div>
    <!-- <canvas id="videoCanvas" width="640" height="480">
    <p>
      Please use a browser that supports the Canvas Element, like
      <a href="http://www.google.com/chrome">Chrome</a>,
      <a href="http://www.mozilla.com/firefox/">Firefox</a>,
      <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
    </p>
    </canvas> -->
    </div>
  </div>
  <div class="col">
    <div id="Humidity">
 	   <table style="width:50%">
   <tr>
 	  <th></th>
     <th>Температура повітря</th>
     <th>Вологість %</th>
   </tr>
   <tr>
     <td>Сотах</td>
     <td id="sotTemp">0</td>
     <td>0</td>
   </tr>
   <tr>
     <td>Арена</td>
     <td id="arenaTemp">0</td>
     <td id="arenaHum">0</td>
   </tr>
 	<tr>
     <td>Кімната</td>
     <td id="roomTemp">0</td>
     <td id="roomHum">0</td>
   </tr>
 </table>
        <table style="width:50%">
   <tr>
 	  <th></th>
     <th>Рівень води</th>
   </tr>
   <tr>
     <td>Повна ємність</td>
     <td id="waterLvlHigh">0</td>
   </tr>
   <tr>
     <td>Напівзаповнена</td>
     <td id="waterLvlMiddle">0</td>
   </tr>
 	<tr>
     <td>Вода майже закінчилася</td>
     <td id="waterLvlLow">0</td>
   </tr>
 </table>
    </div>
  </div>
</div>


<!--
    </div>
    </div> -->
<!-- </div>
</div> -->
<!-- </div> -->
   <!--<script type="text/javascript" src="jsmpg.js"></script>-->
   <script src="static/bootstrap/js/bootstrap.min.js" ></script>

	<script src="static/js/main.js" ></script>
   </body>
</html>
