<!doctype html>
<html>

<head>
  <title>Мурашина ферма</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="static/css/waterLevel.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/humiditySensor.css">
  <link rel="stylesheet" type="text/css" href="static/fontawesome/css/all.css">
  <link rel="stylesheet" type="text/css" href="static/css/thermometer.css">

</head>

<body style="background-color:inherit">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="static/images/logo1.png" width="30" height="30" alt="">
        Мурашина ферма
      </a>
      <div class="pos-f-t">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Панель керування
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href = "#" data-toggle="modal"
              data-target="#aboutSite">Автор</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href = "#" onclick="shutdownPi()"><i class="fas fa-power-off"></i> Вимкнути</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href = "#" onclick="rebootPi()"><i class="fas fa-sync-alt"></i> Перезавантажити</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>


  <!-- <div class="jumbotron"> -->
  <div class="container" style="margin-top:10px;">

    <div id="alertBlock">
    </div>
    
    <div class="row ">

      <div class="col-auto ">
        <div col="col-auto">
          <div style="width:640px; height:480px">
            <div id="fullScreen" style="background:black; width:auto; height:auto; position: relative">
              <img id="badge" width="640" height="480" />
              <div style="position: absolute; bottom:0; width: 100%">
                <button id="start-preview" type="button" onClick="startPreview();" class="btn btn-outline-primary">
                  <i class="fas fa-play"></i>
                </button>
                <button id="stop-preview" type="button" onClick="stopPreview();" class="btn btn-outline-primary"
                  disabled>
                  <i class="fas fa-pause"></i>
                </button>
                <button id="stop-preview" style="float:right" type="button" onClick="onFullScreen();"
                  class="btn btn-outline-primary">
                  <i class="fas fa-expand"></i>
                </button>
                <span id="info" tabindex="0" title="Якість відео">
                  <div class="btn-group dropup" style="float:right; padding-right: 10px;">

                    <button id="videoResolution" type="button" class="btn btn-primary dropdown-toggle"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a onClick="onQ720()" id="Q720" class="cursorQ dropdown-item">720 HD</a>
                      <a onClick="onQ480()" id="Q480" class="cursorQ dropdown-item active">480</a>
                      <a onClick="onQ240()" id="Q240" class="cursorQ dropdown-item">240</a>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div col="col-auto" class="rowGrid">

          <button id="start-stream" type="button" onClick="startStream();" class="btn btn-outline-primary">
            <i class="fas fa-play-circle"></i> Почати трансляцію
          </button>

          <select style="width:15%; display:inline-block" class="custom-select " id="resolutionStream"
            aria-label="Example select with button addon">

            <option value="720">720 HD</option>
            <option value="480" selected>480</option>
            <option value="240">240</option>
          </select>

          <button id="stop-stream" type="button" onClick="stopStream();" class="btn btn-outline-danger" disabled>
            <div id="blinkingStream"></div>
            Зупинити
          </button>

          <button type="button" class="btn btn-outline-primary" onClick="getStreamSettings();" data-toggle="modal"
            data-target="#settingsStream">
            <i class="fas fa-cogs"></i> Налаштування
          </button>
        </div>
        <div class="input-group " >
          <input id="start-record-input" type="text" class="form-control" placeholder="Ім'я файлу"
            aria-describedby="button-addon4">
          <div class="input-group-append" id="button-addon4">
            <select style=" display:inline-block" class="custom-select " id="resolutionRecord"
              aria-label="Example select with button addon">
              <option value="720">720 HD</option>
              <option value="480" selected>480</option>
              <option value="240">240</option>
            </select>
            <button id="start-record" class="btn btn-outline-primary" type="button" onclick="startRecord()" disabled>
              <i class="fas fa-video"></i> Почати запис
            </button>

            <button id="stop-record" class="btn btn-outline-danger" type="button" onclick="stopRecord()" disabled>
              <div id="blinkingRecord"></div>
              <div id="stopWatch"><time>00:00:00</time></div>
              Зупинити
            </button>
          </div>
        </div>
        <div class="input-group rowGrid">
          <input id="capture-input" type="text" class="form-control" placeholder="Ім'я зображення"
            aria-describedby="button-addon4">

          <div class="input-group-append" id="button-addon4">
            <select style=" display:inline-block" class="custom-select " id="resolutionImage"
              aria-label="Example select with button addon">

              <option value="720">1024x768</option>
              <option value="480" selected>640x480</option>
              <option value="240">320x240</option>
            </select>
            <button id="capture-image" onClick="captureImage()" class="btn btn-outline-primary" type="button" disabled>
              <i class="fas fa-camera"></i> Створити зображення
            </button>
          </div>
        </div>
        <button type="button" onClick="getVideoFiles();" class="btn btn-primary " data-toggle="modal"
          data-target="#displayListVideos">
          <i class="fas fa-images"></i> Медіафайли
        </button>
        <button type="button" onClick="getItemsTime();" class="btn btn-primary " data-toggle="modal"
          data-target="#feeder">
          <i class="fas fa-cog"></i> Налаштування годівниці
        </button>
      </div>

      <div class="col-auto " >
        <div class="row">
          <div class="col alignTempChart">
            <div class="gauge-chart humidityCharts">
              <svg viewBox="0 0 80 40" class="gauge">
                <circle class="donut-ring" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#d2d3d4"
                  stroke-width="15"></circle>
                <circle id="humidityCirclesot" class="donut-segment" cx="40" cy="40" r="31.8309886184"
                  fill="transparent" stroke="#b3ffab" stroke-width="15" stroke-dasharray="80 135"
                  stroke-dashoffset="-100">
                  <animate id="humAnimation" attributeType='XML' attributeName='stroke-dasharray'
                    values="${animationValuesSot}" keyTimes='0; 0.4; 0.6; 0.7; 1' dur='2.5s' repeatCount='1'>
                </circle>

                <text id="sotHum" x="25" y="39.5">65</text>
              </svg>
              <!-- <p>Вологість повітря в сотах</p> -->
            </div>
          </div>
          <div class="col">
            <div id="Box3" class="box gauge--3">
              <div class="mask">
                <div class="semi-circle">
                  <h3 id="sotTemp" class="tempText">65&#8451;</h3>
                </div>
                <div id="tempCircle_sot" class="semi-circle--mask"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h5>Сотах<h5>
        </div>
        <!-- </div>
        </div> -->
        <div class="row">
          <div class="col alignTempChart">
            <div class="gauge-chart humidityCharts">
              <svg viewBox="0 0 80 40" class="gauge">
                <circle class="donut-ring" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#d2d3d4"
                  stroke-width="15"></circle>
                <circle id="humidityCirclearena" class="donut-segment" cx="40" cy="40" r="31.8309886184"
                  fill="transparent" stroke="#b3ffab" stroke-width="15" stroke-dasharray="80 135"
                  stroke-dashoffset="-100">
                  <animate id="humAnimation" attributeType='XML' attributeName='stroke-dasharray'
                    values="${animationValuesArena}" keyTimes='0; 0.4; 0.6; 0.7; 1' dur='2.5s' repeatCount='1'>
                </circle>

                <text id="arenaHum" x="25" y="39.5">65</text>
              </svg>
              <!-- <p>Вологість повітря в арені</p> -->
            </div>
          </div>
          <div class="col">
            <div id="Box3" class="box gauge--3">
              <div class="mask">
                <div class="semi-circle">
                  <h3 id="arenaTemp" class="tempText">65&#8451;</h3>
                </div>
                <div id="tempCircle_arena" class="semi-circle--mask"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h5>Арена<h5>
        </div>
        <div class="row">

          <div class="col alignTempChart">
            <div class="gauge-chart humidityCharts">
              <svg viewBox="0 0 80 40" class="gauge">
                <circle class="donut-ring" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#d2d3d4"
                  stroke-width="15"></circle>
                <circle id="humidityCircleoutside" class="donut-segment" cx="40" cy="40" r="31.8309886184"
                  fill="transparent" stroke="#b3ffab" stroke-width="15" stroke-dasharray="80 135"
                  stroke-dashoffset="-100">
                  <animate id="humAnimation" attributeType='XML' attributeName='stroke-dasharray'
                    values="${animationValuesOutside}" keyTimes='0; 0.4; 0.6; 0.7; 1' dur='2.5s' repeatCount='1'>
                </circle>

                <text id="outsideHum" x="25" y="39.5">65</text>
              </svg>
              <!-- <p>Вологість повітря в приміщенні</p> -->
            </div>
          </div>
          <div class="col">
            <div id="Box3" class="box gauge--3">
              <div class="mask">
                <div class="semi-circle">
                  <h3 id="outsideTemp" class="tempText">65&#8451;</h3>
                </div>
                <div id="tempCircle_outside" class="semi-circle--mask"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h5>В приміщенні<h5>
        </div>
      </div>
      <!-- here -->

      <div class="col-auto ">
        <main>
          <div id="sky">
            <div class="sun"></div>
            <div class="sunset"></div>
            <div class="sunset_1"></div>
          </div>
          <div id="water">
            <div id="topWater" class="top"></div>
            <div id="rays">
              <div class="ray1"></div>
              <div class="ray2"></div>
              <div class="ray3"></div>
            </div>
          </div>
          <div class="bubl"></div>
        </main>
      </div>
    </div>

    <div class="row">

      <!-- Modal setting stream ---------------------------------------------------------------->
      <div class="modal fade" id="settingsStream" tabindex="-1" role="dialog"
        aria-labelledby="settingsStream" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="settingsStream">Налаштування трансляції в YouTube <i class="fab fa-youtube"></i></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="inputLink">Посилання</label>
                  <input id="streamLink" type="text" class="form-control" id="inputLink"
                    placeholder="Введіть посилання">
                </div>
                <div class="form-group">
                  <label for="inputKey">Ключ</label>
                  <input id="streamKey" type="text" class="form-control" id="inputKey" placeholder="Введіть ключ">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              <button type="button" class="btn btn-primary" onClick="setStreamSettings()">Зберегти зміни</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal mediafiles -->
      <div class="modal fade" id="displayListVideos" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Медіафайли</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul id="fileList" class="list-group">
               
              </ul>
              <!-- <i onclick="onDeleteFile();" class="fas fa-download"></i> -->
            </div>
            <div class="modal-footer">
              <button type="button" onClick="getVideoFiles()" class="btn btn-primary">Оновити список</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Modal feeder -->
      <div class="modal fade" id="feeder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="feederTitle">Налаштування годівниці</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <label for="inputInterval">Виберіть інтервал (днях):</label>
              <select id="inputInterval" style="width:15%; display:inline-block" class="custom-select "
                id="resolutionStream" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">2</option>
              </select>
              <div>
                <button type="button" class="btn btn-primary" onClick="feed()"><i class="fas fa-utensils"></i> Погодувати</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              <button type="button" class="btn btn-primary" onClick="setSettingsFeeder()">Зберегти зміни</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal about site -->
      <div class="modal fade" id="aboutSite" tabindex="-1" role="dialog"
        aria-labelledby="aboutSiteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="aboutSiteModalTitle">Про сайт</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <p style="text-align:center">Дипломний проект </br>
             на тему: Розробка та програмування Web-серверу 
          на мові Python та додатку на основі Android 
          на базі одноплатного комп'ютера Raspberry 
          для забезпечення діяльності мурашиної ферми</p>
          <p>Виконавець студент групи К-1-15 Путров Вадим Дмитрович</br>
          Керівник дипломного проекту Єрьоміна Анастасія Вікторівна</p>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>

            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------- -->

      <footer class="footer fixed-bottom bg-black small text-center mainfooter">
        <div class="container">
          <br/>
          <span>Copyright &copy; Путров Вадим 2019</span>
        </div>
      </footer>
      <script src="static/jquery/jquery-3.3.1.slim.min.js"></script>
      <script src="static/jquery/popper.min.js"></script>
      <script src="static/bootstrap/js/bootstrap.min.js"></script>
      <script src="static/js/helper.js"></script>
      <script src="static/js/timer.js"></script>
      <script src="static/js/main.js"></script>
      <script src="static/js/sendResolution.js"></script>
</body>

</html>