<!doctype html>
<html>

<head>
  <title>Мурашина ферма</title>
  <meta charset="utf-8" name="viewport" content="width=${WIDTH}, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="static/css/waterLevel.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/humiditySensor.css">
  <link rel="stylesheet" type="text/css" href="static/fontawesome/css/all.css">



  <!-- <style type="text/css">
		body {
			background: ${BGCOLOR};
			text-align: center;
			margin-top: 10%;
		}
		#videoCanvas {
			/* Always stretch the canvas to 640x480, regardless of its
			internal size. */
			width: ${WIDTH}px;
			height: ${HEIGHT}px;
		}
	</style> -->

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="images/logo1.png" width="100" height="30" alt="">
      </a>
      <div class="pos-f-t">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="main.html">Глава 22
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="avtor.html">Автор</a>
            </li>

          </ul>
        </div>
      </div>
  </nav>


  <!-- <div class="jumbotron"> -->
  <div class="container">

    <div id="alertBlock">
      <div class="alerts alert alert-success alert-dismissible fade show" role="alert">
        A simple success alert—check it out!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <!-- <div id="wrapper">

    <div class="mainpage"> -->
    <div class="row">

      <div class="col-8">
        <div style="width:640px; height:480px">
          <div id="fullScreen" style="background:black; width:auto; height:auto; position: relative">
            <img id="badge" width="640" height="480" />
            <div style="position: absolute; bottom:0; width: 100%">
              <button id="start-preview" type="button" onClick="startPreview();" class="btn btn-outline-primary">
                <i class="fas fa-play"></i>
              </button>
              <button id="stop-preview" type="button" onClick="stopPreview();" class="btn btn-outline-primary" disabled>
                <i class="fas fa-pause"></i>
              </button>
              <button id="stop-preview" style="float:right" type="button" onClick="onFullScreen();"
                class="btn btn-outline-primary">
                <i class="fas fa-expand"></i>
              </button>
              <span id="info"  tabindex="0" title="Disabled tooltip">
              <div class="btn-group dropup" style="float:right; padding-right: 10px;">

                <button id="videoResolution" type="button" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  <i class="fas fa-cog"></i>
                </button>



                <div class="dropdown-menu">

                  <a onClick="onQ720()" id="Q720" class="cursorQ dropdown-item">720 HD</a>
                  <a onClick="onQ480()" id="Q480" class="cursorQ dropdown-item active">480</a>
                  <a onClick="onQ240()" id="Q240" class="cursorQ dropdown-item">240</a>
                </div>
              </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="gauge-chart">
          <svg viewBox="0 0 80 40" class="gauge">
            <circle class="donut-ring" cx="40" cy="40" r="31.8309886184" fill="transparent" stroke="#d2d3d4"
              stroke-width="15"></circle>
            <circle id="humidityCircle" class="donut-segment" cx="40" cy="40" r="31.8309886184" fill="transparent"
              stroke="#b3ffab" stroke-width="15" stroke-dasharray="80 135" stroke-dashoffset="-100">
              <animate id="humAnimation" attributeType='XML' attributeName='stroke-dasharray'
                values="${animationValues}" keyTimes='0; 0.4; 0.6; 0.7; 1' dur='2.5s' repeatCount='1'>
            </circle>

            <text id="sotHum" x="25" y="39.5">65</text>
          </svg>
          <p>super gauge chart 2</p>
        </div>
      </div>
      <!-- here -->
    </div>

    <div class="row">
      <div class="col-md-4">
        <!-- <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                  <a href="main.html">Глава 22</a>
              </li>
              <li>
                  <a href="avtor.html">Автор</a>
              </li>
          </ul>
      </div>
    </div> -->
        <!-- Default switch -->

      </div>






      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Youtube Link</label>
                  <input id="streamLink" type="text" class="form-control" id="exampleInputEmail1"
                    placeholder="Youtube link">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Key</label>
                  <input id="streamKey" type="text" class="form-control" id="exampleInputPassword1" placeholder="Key">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="displayListVideos" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul id="fileList" class="list-group">
                <a class="list-group-item list-group-item-action">
                  Cras justo odio <i id="glyphicon" class="fas fa-download"></i>
                </a>
                <a class="list-group-item list-group-item-action">
                  Cras justo odidjjjfdo <i id="glyphicon" class="fas fa-trash-alt"></i>
                </a>
              </ul>
              <!-- <i onclick="onDeleteFile();" class="fas fa-download"></i> -->
            </div>
            <div class="modal-footer">
              <button type="button" onClick="getVideoFiles()" class="btn btn-primary">Оновити</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>

            </div>
          </div>
        </div>
      </div>


      <!-- <img src="stream.mjpg" width="640" height="480" /> -->
      <div class="col-md-8">
        <!-- <div id="TextBlock">
          <p>2</p>
        </div> -->




        <div>
          <button id="start-stream" type="button" onClick="startStream();" class="btn btn-outline-primary">
            <i class="fas fa-play-circle"></i> Почати трансляцію
          </button>

          <select style="width:15%; display:inline-block" class="custom-select " id="resolutionStream"
            aria-label="Example select with button addon">

            <option value="720">720 HD</option>
            <option value="480" selected>480</option>
            <option value="240">240</option>
          </select>

          <button id="stop-stream" type="button" onClick="stopStream();" class="btn btn-outline-danger" disabled>
            <div id="blinkingStream"></div>
            Зупинити трансляцію
          </button>

          <button type="button" class="btn btn-outline-primary" onClick="getStreamSettings();" data-toggle="modal"
            data-target="#exampleModalCenter">
            <i class="fas fa-cogs"></i> Налаштування
          </button>
        </div>
        <!-- <button type="button" class="btn btn-primary" >
            Launch demo modal
          </button> -->
        <div class="input-group">
          <input id="start-record-input" type="text" class="form-control" placeholder="Ім'я файлу"
            aria-describedby="button-addon4">
          <div class="input-group-append" id="button-addon4">
            <select style=" display:inline-block" class="custom-select " id="resolutionRecord"
              aria-label="Example select with button addon">
              <option value="720">720 HD</option>
              <option value="480" selected>480</option>
              <option value="240">240</option>
            </select>
            <button id="start-record" class="btn btn-outline-primary" type="button" onclick="startRecord()" disabled>
              <i class="fas fa-video"></i> Почати запис
            </button>

            <button id="stop-record" class="btn btn-outline-danger" type="button" onclick="stopRecord()" disabled>
              <div id="blinkingRecord"></div>
              <div id="stopWatch"><time>00:00:00</time></div>
              Зупинити запис
            </button>
          </div>
        </div>
        <div class="input-group">
          <input id="capture-input" type="text" class="form-control" placeholder="Ім'я зображення"
            aria-describedby="button-addon4">

          <div class="input-group-append" id="button-addon4">
            <select style=" display:inline-block" class="custom-select " id="inputGroupSelect03"
              aria-label="Example select with button addon">

              <option value="720">1024x768</option>
              <option value="480" selected>640x480</option>
              <option value="240">320x240</option>
            </select>
            <button id="capture-image" onClick="captureImage()" class="btn btn-outline-primary" type="button" disabled>
              <i class="fas fa-camera"></i> Створити зображення
            </button>
          </div>
        </div>


        <!-- ----------------- -->
        <button type="button" onClick="getVideoFiles();" class="btn btn-primary" data-toggle="modal"
          data-target="#displayListVideos">
          <i class="fas fa-images"></i> Відкрити список медіафайлів
        </button>

        <!-- <video src="http://localhost:8002/video.h264" controls="controls" width="500"></video> -->
        <!-- second row -->
        <div class="col-md-4">
          <main>
            <div id="sky">
              <div class="sun"></div>
              <div class="sunset"></div>
              <div class="sunset_1"></div>
            </div>
            <div id="water">
              <div id="topWater" class="top"></div>
              <div id="rays">
                <div class="ray1"></div>
                <div class="ray2"></div>
                <div class="ray3"></div>
              </div>
            </div>
            <div class="bubl"></div>
          </main>
        </div>

        <div class="row">
          <div class="col">
            <div>
              <!-- <canvas id="videoCanvas" width="640" height="480">
    <p>
      Please use a browser that supports the Canvas Element, like
      <a href="http://www.google.com/chrome">Chrome</a>,
      <a href="http://www.mozilla.com/firefox/">Firefox</a>,
      <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
    </p>
    </canvas> -->
            </div>
          </div>
          <div class="col">
            <div id="Humidity">
              <table style="width:50%">
                <tr>
                  <th></th>
                  <th>Температура повітря</th>
                  <th>Вологість %</th>
                </tr>
                <tr>
                  <td>Сотах</td>
                  <td id="sotTemp">0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Арена</td>
                  <td id="arenaTemp">0</td>
                  <td id="arenaHum">0</td>
                </tr>
                <tr>
                  <td>Кімната</td>
                  <td id="roomTemp">0</td>
                  <td id="roomHum">0</td>
                </tr>
              </table>
              <table style="width:50%">
                <tr>
                  <th></th>
                  <th>Рівень води</th>
                </tr>
                <tr>
                  <td>Повна ємність</td>
                  <td id="waterLvlHigh">0</td>
                </tr>
                <tr>
                  <td>Напівзаповнена</td>
                  <td id="waterLvlMiddle">0</td>
                </tr>
                <tr>
                  <td>Вода майже закінчилася</td>
                  <td id="waterLvlLow">0</td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <div id="stopWatch">
          <p id="blinkingCircle" style="margin-right: 0px;" class="circle red"></p>
          <time>00:00:00</time>
        </div>

        <button id="start">start</button>
        <button id="stop">stop</button>
        <button id="clear">clear</button>


        <!--
    </div>
    </div> -->
        <!-- </div>
</div> -->
        <!-- </div> -->
        <!--<script type="text/javascript" src="jsmpg.js"></script>-->
        <script src="static/jquery/jquery-3.3.1.slim.min.js"></script>
        <script src="static/jquery/popper.min.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/sendResolution.js"></script>
</body>

</html>