<!doctype HTML public "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
      <title>Мій перший HTML-документ</title>
      <link rel="stylesheet" type="text/css" href="static/css/thermometer.css">
   </head>
   <body>
      <header class="header">
         <h1>Pure css gauge</h1>
       </header>
       
       
         <div class="box gauge--1">
           <div class="mask">
              <div class="semi-circle"></div>
              <div class="semi-circle--mask"></div>
           </div>
         </div>
           
           <div class="box gauge--2">
             <div class="mask">
               <div class="semi-circle"></div>
               <div class="semi-circle--mask"></div>
             </div>
         </div>
             
             <div id = "Box3" class="box gauge--3">
               <div class="mask">
                
                 <div class="semi-circle">
                  <h1 id = "tempText">65</h1>
                 </div>
                 <div id = "semiMask" class="semi-circle--mask"></div>
                
               </div>
               
             </div>
       
       <script>
          
  var newVal = 40
            document.getElementById("semiMask").setAttribute("style", '-webkit-transform: rotate(' + newVal + 'deg);' )
            // document.getElementById("Box3").setAttribute("style", '-webkit-transform: rotate(' + newVal + 'deg);' )
//   $('.gauge--3 .semi-circle--mask').attr({
//     style: '-webkit-transform: rotate(' + newVal + 'deg);' +
//     '-moz-transform: rotate(' + newVal + 'deg);' +
//     'transform: rotate(' + newVal + 'deg);'
//    });				

      </script>
       <a href="https://www.twitter.com/sambego" alt="Sambego on twitter" class="btn--twitter" target="_blank">
         <i class="fa fa-twitter"></i>
       </a>
       
   </body>
</html>